<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.FollowDao">
	<resultMap type="follow" id="followMap">
		<result column="user_id" property="userId" />
		<result column="channel_id" property="channelId" />
	</resultMap>
	
	<select id="selectFollowListByUserId" resultMap="followMap" parameterType="String">
		SELECT user_id, channel_id
		FROM follow
		WHERE user_id = #{userId}
	</select>
</mapper>