<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.UserDao">
	<resultMap type="user" id="userMap">
		<result column="user_id" property="userId" />
		<result column="nickname" property="nickname" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="age" property="age"/>
		<result column="area_name" property="areaName" />
		<result column="class_num" property="classNum" />
		<result column="score_upper" property="scoreUpper" />
		<result column="score_lower" property="scoreLower" />
		<result column="score_belly" property="scoreBelly" />
		<result column="score_body" property="scoreBody" />
	</resultMap>
	
	<select id="selectUserById" resultMap="userMap" parameterType="String">
		SELECT user.user_id, nickname, password, name, age, grade, user.area_name, user.class_num, score_upper, score_lower, score_belly, score_body
		FROM user
		LEFT JOIN score ON user.user_id = score.user_id
		WHERE user.user_id like #{id}
	</select>
	
	<insert id="insertUser" parameterType="user">
		INSERT 
			INTO user
				(user_id, nickname, password, name, age, area_name, class_num)
		VALUES(#{userId}, #{nickname}, #{password}, #{name}, #{age}, #{areaName}, #{classNum})
	</insert>
	
	<insert id="insertScore" parameterType="user">
		INSERT INTO score (user_id, area_name, class_num)
		VALUES(#{userId}, #{areaName}, #{classNum})
	</insert>
	
	<update id="updateUser" parameterType="user">
		UPDATE score
		SET 
			score_upper = #{scoreUpper},			
			score_lower = #{scoreLower},			
			score_belly = #{scoreBelly},			
			score_body = #{scoreBody}
		WHERE user_id = #{userId}			
	</update>
</mapper>